body {
    background-image: url('forest.png');
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: blue;
}
.container {
  text-align: center;
}
.center {
    margin: auto;
    width: 50%;
}
#backButton {
    display: none;
    width: 400px;
    margin: auto;
    text-decoration: none;
}
#selectField {
    margin: auto;
    text-align: center;
    width: 300px;
}
.card {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    background-image: url("parchment.jpg")
}

