body {
    background-image: url('forest.png');
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: blue;
}
.container {
  text-align: center;
}
.center {
    margin: auto;
    width: 50%;
}
#backButton {
    display: none;
}


