body {
    background-image: url('forest.png');
    background-repeat: no-repeat;
    background-size: cover;
}
a:hover {
    text-decoration: none;
}
h1 {
    color: blue;
}
.container {
  text-align: center;
}
.center {
    margin: auto;
    width: 50%;
}
#backButton {
    display: none;
    width: 400px;
    margin: auto;
    text-decoration: none;
}
#selectField {
    margin: auto;
    text-align: center;
    width: 300px;
}
.flexContainer {
    display: flex;
}
.card {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    background-image: url("parchment.jpg")
}
#vs {
    margin-top: auto;
    margin-bottom: auto;
}
#back {
    width: 400px;
    margin: auto;
    text-align: center;
    text-decoration: none;
}
#nextButton {
    width: 100px;
    margin: auto;
    text-align: center;
    text-decoration: none;
}
.attack {
    color: red;
    font-weight: bold;
}
.defence {
    color: green;
    font-weight: bold;
}
.type1 {
    color: goldenrod;
    font-weight: bold;
}
.type2 {
    color: purple;
    font-weight: bold;
}
#deck2 {
    color: purple;
}