<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='./styles.css') }}" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <title>Pokedex</title>
</head>
<body>
    <div class="container">
        <div>
            <img class = "center" src="/static/banner.png" style="width:500px;" alt="Pokebanner"><br><br>
        </div>
            {% if pokemonList == [] %}
            <h2><span id="downloadMessage" class="badge rounded-pill bg-primary">No Pokemon Downloaded!</span></h2><br><br>
            {% else %}
            <h2><span id="downloadMessage" class="badge rounded-pill bg-primary">Pokemon Downloaded!</span></h2><br><br>
            {% endif %}
            <a id="downloadButton" class="btn btn-success" href="/pokemonDownload" type="button">Download Pokemon List</a><br><br>      
              
            <form id="pokemonList" class= "center" action="/pokemonCard">
                <label for="pokemon"></label>
                <select class="form-control" name="pokemonList">
                    <option value="" disabled selected>Select your Pokemon</option>
                    {% for pokemon in pokemonList %}
                        <option value={{pokemon["Name"]}}>{{pokemon["Name"]}}</option>
                    {% endfor %}
                </select>
                <input  type="submit" value="Submit">
            </form>
    </div>

</body>
</html>