<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='./styles.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='./scripts.js') }}"></script>
    <title>Pokemon Game</title>
</head>

<body>
    <div class="container">
        <div>
            <a href="/"><img class="center" src="/static/banner.png" style="width:500px;" alt="Pokebanner"></a><br><br>
        </div>
        {% if databaseCheck == False %}
            <div class="flexContainer justify-content-center">
                <div>
                    <div id="player1">
                        <h2><span id="p1Label" class="center badge rounded-pill bg-danger">Player 1</span></h2>
                        <div class="card center" style="width: 288px; height: 390px;">
                            <div id="cardBack1">
                                <img src="/static/cardBack.png" class="img-fluid rounded mx-auto d-block" alt="Back of card">
                            </div>
                            <div id="cardFront1">
                                <img class="center card-img-top" src="{{player1Card.artwork}}" alt="Pokemon Image"
                                    style="width: 200px;">
                                <div class="card-body">
                                    <h3 class="card-title">{{player1Card.name.capitalize()}}</h3>
                                </div>
                                <div class="stats">
                                    <p class="types">{{player1Card.type1}}
                                    {% if type2 != None %}
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{player1Card.type2}}
                                    {% endif %}
                                    </p>
                                    <p class="attack">Attack: {{player1Card.attack}}</p>
                                    <p class="defence">Defence: {{player1Card.defence}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><h2><span id="card1Counter" class="badge rounded-pill bg-primary"></span></h2>
                    <div id="player1Attack">
                    </div>
                </div>
                
                <div id="vs">
                    <img class="center" src="/static/vs.gif" alt="Versus Image" style="width: 200px;">
                </div>

                <div>
                    <div>
                        <div id="player2">
                            <h2><span id="p2Label" class="center badge rounded-pill bg-danger">Player 2</span></h2>
                            <div class="card center" style="width: 288px; height: 390px;">
                                <div id="cardBack2">
                                    <img src="/static/cardBack.png" class="img-fluid" alt="Back of card">
                                </div>
                                <div id="cardFront2">
                                    <img class="center card-img-top" src="{{player2Card.artwork}}" alt="Pokemon Image"
                                        style="width: 200px;">
                                    <div class="card-body">
                                        <h3 class="card-title">{{player2Card.name.capitalize()}}</h3>
                                    </div>
                                    <div class="stats">
                                        <p class="types">{{player2Card.type1}}
                                        {% if type2 != None %}
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{player2Card.type2}}
                                        {% endif %}
                                        </p>
                                        <p class="attack">Attack: {{player2Card.attack}}</p>
                                        <p class="defence">Defence: {{player2Card.defence}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br><h2><span id="card2Counter" class="badge rounded-pill bg-primary"></span></h2>
                        <div id="player2Attack">
                        </div>
                    </div>
                </div>     
            </div>
            <h2><span id="startButton" class="center badge rounded-pill bg-success" style="width: 200px;" onclick="startGame()">START</span></h2>
        {% else %}
        <br>
        <h2><span id="back" class="badge rounded-pill bg-danger">No cards available</span></h2>
        {% endif %}
        <br><br>
        
        <a href="/">
            <h2><span id="back" class="badge rounded-pill bg-primary">Back to Main Page</span></h2>
        </a>
        
    </div>
      
</body>

</html>

</div>