<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='./styles.css') }}" rel="stylesheet" type="text/css" />
    <title>Pokedex</title>
</head>
<body>
    <div class="container">
        <div>
            <a href="/"><img class = "center" src="/static/banner.png" style="width:500px;" alt="Pokebanner"></a><br><br>
        </div>
        <div class="card center" style="width: 18rem;">
            <img class="card-img-top" src="{{pokemonArtwork}}" alt="Pokemon Image" style="width: 250px;">
            <div class="card-body">
              <h2 class="card-title">{{pokemonCardName}}</h2>
            </div>
            <div class="">
              <p class="attack">Attack: {{pokemonAttack}}</p>
              <p class="defence">Defence: {{pokemonDefence}}</p>
              <p class="type1">Type1: {{pokemonType1}}</p>
              <p class="type2">Type2: {{pokemonType2}}</p>
              </div>
        </div>



    </div>


</body>
</html>