<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='./styles.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='./scripts.js') }}"></script>
    <title>Pokemon Game</title>
</head>

<body>
    <script>
        // function updateCard1() {
        //     fetch('/cycleCards1')
        //         .then(data => data.text())
        //         .then(data => {
        //             element = document.getElementById("player1");
        //             element.innerHTML = data
        //         });
        // }
        // function updateCard2() {
        //     fetch('/cycleCards2')
        //         .then(data => data.text())
        //         .then(data => {
        //             element = document.getElementById("player2");
        //             element.innerHTML = data
        //         });
        // }

        fetch('/displayNumberofCards1')
            .then(data => data.text())
            .then(data => {
                document.getElementById("card1Counter").innerHTML = data
            });

        fetch('/displayNumberofCards2')
            .then(data => data.text())
            .then(data => {
                document.getElementById("card2Counter").innerHTML = data
            });

        fetch('/noCards1')
            .then(data => data.text())
            .then(data => {
                if (data == "1"){
                document.getElementById("player1").innerHTML = `
                    <h2><span class="badge rounded-pill bg-danger" style="width: 288px">No Cards in Deck</span></h2>
                    `;
                    console.log(document.getElementById("disappear"));
                    document.getElementById("disappear").style.display="none";
                }
            });

        fetch('/noCards2')
            .then(data => data.text())
            .then(data => {
                if (data == "1"){
                document.getElementById("player2").innerHTML = `
                    <h2><span class="badge rounded-pill bg-danger" style="width: 288px">No Cards in Deck</span></h2>
                    `;
                    console.log(document.getElementById("disappear"));
                    document.getElementById("disappear").style.display="none";
                }
            });  
    </script>

    <div class="container">
        <div>
            <a href="/"><img class="center" src="/static/banner.png" style="width:500px;" alt="Pokebanner"></a><br><br>
        </div>
        {% if databaseCheck == False %}
            <div class="flexContainer justify-content-center">
                <div>
                    <div id="player1">
                        <h2><span id="p1Label" class="center badge rounded-pill bg-danger">Player 1</span></h2>
                        <div class="card center" style="width: 288px; height: 390px;">
                            <div id="cardBack1">
                                <img src="/static/cardBack.png" class="img-fluid rounded mx-auto d-block" alt="Back of card">
                            </div>
                            <div id="cardFront1">
                                <img class="center card-img-top" src="{{artworkp1}}" alt="Pokemon Image"
                                    style="width: 200px;">
                                <div class="card-body">
                                    <h3 class="card-title">{{namep1}}</h3>
                                </div>
                                <div class="stats">
                                    <p class="types">{{type1p1}}
                                    {% if type2 != None %}
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{type2p1}}
                                    {% endif %}
                                    </p>
                                    <p class="attack">Attack: {{attackp1}}</p>
                                    <p class="defence">Defence: {{defencep1}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2><span id="card1Counter" class="badge rounded-pill bg-primary"></span></h2>
                </div>
                
                <div id="vs">
                    <img class="center" src="/static/vs.gif" alt="Versus Image" style="width: 200px;">
                </div>

                <div class="flex-column d-flex justify-content-center" style="width:18rem">
                    <div>
                        <div id="player2">
                            <h2><span id="p2Label" class="center badge rounded-pill bg-danger">Player 2</span></h2>
                            <div class="card center" style="width: 288px; height: 390px;">
                                <div id="cardBack2">
                                    <img src="/static/cardBack.png" class="img-fluid" alt="Back of card">
                                </div>
                                <div id="cardFront2">
                                    <img class="center card-img-top" src="{{artworkp2}}" alt="Pokemon Image"
                                        style="width: 200px;">
                                    <div class="card-body">
                                        <h3 class="card-title">{{namep2}}</h3>
                                    </div>
                                    <div class="stats">
                                        <p class="types">{{type1p2}}
                                        {% if type2 != None %}
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{type2p2}}
                                        {% endif %}
                                        </p>
                                        <p class="attack">Attack: {{attackp2}}</p>
                                        <p class="defence">Defence: {{defencep2}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2><span id="card2Counter" class="badge rounded-pill bg-primary"></span></h2>
                    </div>
                </div>     
            </div>
        {% else %}
        <br>
        <h2><span id="back" class="badge rounded-pill bg-danger">No cards available</span></h2>
        {% endif %}
        <br><br>
        <h2><span id="startButton" class="center badge rounded-pill bg-success" style="width: 200px;">START</span></h2>
        <a href="/">
            <h2><span id="back" class="badge rounded-pill bg-primary">Back to Main Page</span></h2>
        </a>
        
    </div>
      
</body>

</html>



<div id="startButton">
    >
</div>